<div class="container clearfix">
    <h1 class="pull-left">{{ model.get('title')|default('<em>Untitled</em>') }}</h1>
    <p class="text-right">
        <a href="#" class="btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i> Terug naar lijst</a>
    </p>
</div>
<hr />
<div class="container">
    <form>
        {% if not model.has('id') %}
        <legend>Category</legend>
        <div class="form-group">
            <label class="hide">News page</label>
            <select class="form-control" name="parent">
                {% for category in categories.toArray() %}
                <option value="{{ category.id }}">{{ category.getContent().get('title') }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>General</legend>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" />
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control datepicker" name="date" />
                    </div>
                    <div class="form-group">
                        <label>Publication start</label>
                        <input type="text" class="form-control datepicker" name="publishStart" />
                    </div>
                    <div class="form-group">
                        <label>Publication end</label>
                        <input type="text" class="form-control datepicker" name="publishStop" />
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <div class="form-group">
                        <legend>Introduction</legend>
                        <textarea name="introduction" id="news_introduction"></textarea>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset>
            <div class="form-group">
                <legend>Content</legend>
                <textarea name="content" id="news_content"></textarea>
            </div>
        </fieldset>
    </form>

    <button class="pull-right btn btn-lg btn-success save disabled"><i class="glyphicon glyphicon-ok"></i> Opslaan</button>
</div>