{% extends 'ConcertoCmsAdminBundle::base.html.twig' %}
{% block body %}
    {% include '@ConcertoCmsAdmin/_Partials/header.html.twig' %}
    <div id="news-container"></div>
{% endblock %}
{% block javascript %}
    {% javascripts
    '@ConcertoCmsNewsBundle/Resources/js/Model/*.js'
    '@ConcertoCmsNewsBundle/Resources/js/Collection/*.js'
    '@ConcertoCmsNewsBundle/Resources/js/News/*.js'
    '@ConcertoCmsNewsBundle/Resources/public/js/templates.news.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@ConcertoCmsAdmin/_Partials/ckeditor.html.twig' %}

    {{ render(controller('ConcertoCmsAdminBundle:Pages:pagetypes')) }}

    <script>
        controller = new Pages.Controller({
            el: document.getElementById("news-container")
        });
    </script>

{% endblock %}